@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
@font-face {
  font-family: 'Hover';
  src: url("../fonts/Hover.woff2") format("woff2"), url("../fonts/Hover.woff") format("woff"), url("../fonts/Hover.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #222;
}

.fade-animation-el {
  -webkit-animation: fade-animation;
  animation: fade-animation-el 2s linear;
}
@keyframes fade-animation-el {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.header {
  /* height: 144px; */
  background: rgba(236, 242, 250, 0.3333333333);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1240px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.specialButton {
  position: absolute;
  right: 0;
  top: 0;
}
@media (max-width: 1200px) {
  .specialButton {
    margin: 0 20px 0 0;
    max-width: 30px;
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.header__row {
  /* height: 144px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo {
  max-width: 85px;
  /* max-width: 100px; */
  -webkit-transition: all 444ms ease;
  transition: all 444ms ease;
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__menu-list li {
  display: flex;
  cursor: pointer;
  position: relative;
  @media (any-hover: hover) {
    &:hover {
      .subnav-menu {
        display: flex;
        transition: all 0.3s ease 0s;
      }
    }
  }
}

.header__menu-link {
  text-transform: uppercase;
  padding: 40px 18px;
  font-size: 14px;
  line-height: 20px;
  color: #222;
  position: relative;
  transition: all 0.3s ease 0s;

  span::after {
    content: "";
    display: inline-block;
    border-top: 5px solid #111;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    margin: 0 0 2px 2px;
    transition: all 0.3s ease 0s;
  }
  &:hover,
  &:active,
  &:focus {
    transition: all 0.3s ease 0s;
    color: #2d85ff;
    span::after {
      border-top-color: #2d85ff;
    }
  }
}
.subnav-menu {
  display: none;
  padding: 5px 0;
  position: absolute;
  top: 99px;
  z-index: 1000;
  border-top: 2px solid #2d85ff;
  background-color: #f9fbfd;
  width: 238px;
  font-size: 14px;
  flex-direction: column;
  transition: all 0.3s ease 0s;
}
.subnav-menu__link {
  text-transform: uppercase;
  padding: 12px 16px;
  color: #222;
  transition: all 0.3s ease 0s;
  &:hover {
    color: #2d85ff;
  }
}
/* .header__menu-link:hover,
.header__menu-link:focus {
  color: #8bb5ee;
}
.header__menu-link:hover:after,
.header__menu-link:focus:after {
  width: 100%;
}
.header__menu-link:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #8bb5ee;
  -webkit-transition: width 333ms ease;
  transition: width 333ms ease;
} */

.icons-mobile.icons {
  display: none;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__actions .header__action-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.header__phone {
  margin: 0 auto 5px auto;
  font-size: 18px;
}

.header__btn {
  padding: 5px 20px;
  position: relative;
  overflow: hidden;
}
.header__btn::after {
  content: "";
  display: block;
  width: 30px;
  height: 200px;
  margin-left: 60px;
  background: #fff;
  opacity: 0.5;
  position: absolute;
  left: -40px;
  top: -100px;
  z-index: 1;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-animation-name: slideme;
  animation-name: slideme;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes slideme {
  0% {
    left: -40px;
    margin-left: 0;
  }
  to {
    left: 110%;
    margin-left: 40px;
  }
}

@keyframes slideme {
  0% {
    left: -40px;
    margin-left: 0;
  }
  to {
    left: 110%;
    margin-left: 40px;
  }
}
.header__icons {
  margin: 0 25px 0 0;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon {
  margin: 0 0 0 15px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 444ms ease;
  transition: all 444ms ease;
  -webkit-box-shadow: 0 8px 30px -7px #329dff;
  box-shadow: 0 8px 30px -7px #329dff;
  border-radius: 5px;
  overflow: hidden;
}
.icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.icon:hover {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 4px rgba(63, 63, 63, 0);
  box-shadow: 0 0 0 4px rgba(63, 63, 63, 0);
}

.header__burger {
  display: none;
}

/* Intro */
.intro__slider.swiper {
  height: 670px;
  width: 100%;
}
@media (max-width: 600px) {
  .intro__slider.swiper {
    height: 300px;
  }
}
.intro .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/* About */
.about {
  padding: 100px 0 140px;
  position: relative;
  background: #2d84ff94;
  background-size: cover;
}
.about::before {
  content: "";
  display: block;
  position: absolute;
  width: 194px;
  height: 48px;
  background: url("../img/about/about1.png") no-repeat;
  bottom: 0;
  right: 20px;
}
.about__title {
  margin: 0 auto 40px;
  font-size: 55px;
  text-align: center;
  color: white;
  font-family: "Rubik", sans-serif;
}
.about__text {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 27px;
  line-height: 160%;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}
.about__text span {
  font-size: 30px;
  font-weight: 700;
}

.after {
  background-color: #fff;
}

.after__container {
  padding: 0 14px;
}

.after__title {
  text-align: center;
  margin: 0 0 15px 0;
}
.after__title span {
  color: #eb6760;
}

@media (min-width: 1295px) {
  .after__title {
    margin: 0 auto 50px;
    max-width: 1267px;
  }
}
.after__list {
  font-size: 10px;
  line-height: 120%;
  font-weight: 400;
  color: hwb(0 0% 100%);
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .after__list {
    font-size: 18px;
    line-height: 20px;
  }
}
@media (min-width: 992px) {
  .after__list {
    overflow: hidden;
  }
}
@media (min-width: 1295px) {
  .after__list {
    font-size: 24px;
    line-height: 29px;
  }
}
.after__wrapper {
  position: relative;
  width: 100%;
  color: #fff;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 350px 331px cover;
}

@media (max-width: 650px) {
  .about {
    padding: 50px 0;
  }
  .about__title {
    font-size: 24px;
  }
  .about__text,
  .about__text span {
    font-size: 16px;
    text-align: left;
  }
}
@media (min-width: 576px) {
  .after__wrapper {
    padding-left: 40px;
    background-position: right 70px;
    max-width: 550px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .after__wrapper {
    max-width: 950px;
    background-image: none;
  }
}
@media (min-width: 1295px) {
  .after__wrapper {
    max-width: 1267px;
    min-height: 900px;
    padding-left: 0px;
    -webkit-transition: all 1s ease 1s;
    transition: all 1s ease 1s;
  }
}
.after__item {
  max-width: 161px;
  min-height: 100px;
  background-color: #efeff5;
  border-radius: 27px;
  padding: 29px 17px 20px 12px;
  margin-bottom: 10px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

@media (min-width: 576px) {
  .after__item {
    max-width: 230px;
    min-height: 144px;
  }
}
@media (min-width: 768px) {
  .after__item {
    max-width: 300px;
    width: 100%;
    min-height: 163px;
  }
}
@media (min-width: 992px) {
  .after__item {
    float: left;
    background-color: #eb6760;
    color: white;
  }
}
@media (min-width: 1295px) {
  .after__item {
    min-height: 200px;
  }
}
@media (min-width: 992px) {
  .after__item--left {
    margin-left: 140px;
    visibility: hidden;
    z-index: -10;
    opacity: 0;
    -webkit-transition: all 1.5s ease 0s;
    transition: all 1.5s ease 0s;
  }
}
@media (min-width: 1295px) {
  .after__item--left {
    max-width: 430px;
  }
}
@media (min-width: 992px) {
  .after__item--left.animate {
    visibility: visible;
    margin-left: 270px;
    opacity: 1;
  }
}
@media (min-width: 1295px) {
  .after__item--left.animate {
    margin-left: 430px;
  }
}
@media (min-width: 992px) {
  .after__item--right {
    position: relative;
    left: 190px;
    opacity: 0;
    -webkit-transition: all 1.5s ease 0s;
    transition: all 1.5s ease 0s;
  }
}
@media (min-width: 1295px) {
  .after__item--right {
    left: 330px;
    max-width: 406px;
    min-height: none;
    height: auto;
  }
}
@media (min-width: 992px) {
  .after__item--right.animate {
    position: relative;
    left: 0px;
    opacity: 1;
  }
}
.after__item--bright {
  background-color: #eb6760;
  color: #ffffff;
}

.after__item--pic {
  background-color: #eb6760;
}

@media (min-width: 992px) {
  .after__item--pic {
    position: absolute;
    top: 0;
    left: 180px;
    max-width: none;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    width: 550px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    z-index: 100;
  }
}
@media (min-width: 1295px) {
  .after__item--pic {
    background-position: -75px 30px;
    top: -65px;
    height: 113%;
    left: 330px;
    -webkit-transition: all 3s ease 3s;
    transition: all 3s ease 3s;
  }
}
.after__arrow {
  position: absolute;
  right: 24px;
  top: calc(50% - 25px);
  width: 53px;
  height: 51px;
  background-color: #eb6760;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (min-width: 992px) {
  .after__arrow {
    display: none;
  }
}
.after__arrow:hover {
  background-color: #dc3d33;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.after__arrow:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.slick-prev {
  display: none;
}

/* First-block */
.first-block {
  height: 600px;
  background: url("../img/first-block/1.jpg") center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.first-block__body {
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 200px 20px 0 20px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.first-block__body-title {
  margin: 0 0 70px 0;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px #222;
  color: #fff;
  font-size: 44px;
  font-weight: 700;
}

.first-block__body-btn {
  padding: 15px 35px;
  position: relative;
  z-index: 3;
  border-radius: 35px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #2d85ff;
  border: 1px solid #1a78fa;
  text-shadow: 2px 1px 2px #000;
  overflow: hidden;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}
.first-block__body-btn:after {
  content: "";
  display: block;
  width: 25px;
  height: 100px;
  position: absolute;
  left: -100px;
  top: -20px;
  z-index: 3;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 255, 255, 0.7)),
    color-stop(50%, rgb(255, 255, 255)),
    to(rgba(255, 255, 255, 0.7))
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.7) 0%,
    rgb(255, 255, 255) 50%,
    rgba(255, 255, 255, 0.7) 100%
  );
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-animation-name: slideme;
  animation-name: slideme;
  -webkit-animation-duration: 5.5s;
  animation-duration: 5.5s;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.first-block__body-btn:hover {
  background-color: #89b3ed;
  border: 1px solid #4e95f8;
}

.first-block__background-img {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 2;
  width: 100%;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.first-block__background-img svg {
  fill: rgba(145, 200, 255, 0.34);
}

/* For */
.for {
  position: relative;
  padding: 100px 0 50px;
}
.for__title {
  margin: 0 0 83px 0;
  color: #222;
  text-align: center;
}
.for__title span {
  color: #634595;
}
.for__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.for__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.for__column {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 315px;
  flex: 0 0 315px;
  margin: 0 0 52px 0;
  text-align: center;
  border-radius: 20px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.for__column:nth-child(1) .for__column-img img {
  max-width: 68px;
}
.for__column:nth-child(2) .for__column-img img {
  max-width: 49px;
}
.for__column:nth-child(3) .for__column-img img {
  max-width: 58px;
}
.for__column:nth-child(4) .for__column-img img {
  max-width: 93px;
}
.for__column:nth-child(5) .for__column-img img {
  max-width: 68px;
}
.for__column:nth-child(6) .for__column-img img {
  max-width: 54px;
}
.for__column:nth-child(7) .for__column-img img {
  max-width: 68px;
}
.for__column:nth-child(8) .for__column-img img {
  max-width: 48px;
}
.for__column:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.for__column-img {
  margin: 0 auto 24px;
  width: 86px;
  height: 86px;
  background: url("../img/for/for-bg.png") 0 0 / contain no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.for__column-img img {
  -o-object-fit: contain;
  object-fit: contain;
}
.for__column-title {
  margin: 0 0 8px 0;
  font-size: 24px;
  line-height: 100%;
  color: #111;
}
.for__column-text {
  margin: 0 auto;
  max-width: 406px;
  font-size: 20px;
  line-height: 140%;
}
@media (max-width: 998px) {
  .for {
    padding: 50px 0;
  }
  .for__title {
    margin: 0 0 24px 0;
  }
  .for__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 467px;
    flex: 0 1 467px;
    margin: 0 0 16px 0;
  }
  .for__column-img {
    margin: 0 auto 15px;
    max-width: 285px;
  }
  .for__column-title {
    margin: 0 0 5px 0;
    font-size: 18px;
    line-height: 100%;
  }
  .for__column-text {
    max-width: 250px;
    font-size: 14px;
    line-height: 140%;
  }
}

/* Анимация блоков */

.about__title,
.about__text,
.for__title,
.for__row,
.landing-block-node-img-container-left,
.landing-block-node-img-container-center,
.landing-block-node-img-container-right,
.address__title,
.address__text,
.address__phone,
.faq__title,
.bitrix24forms,
.page__info {
  opacity: 0;
}
.about.animate {
  .about__title {
    animation: fadeInUp 1s forwards;
  }
  .about__text {
    animation: fadeIn 1s forwards 0.5s;
  }
}
.for.animate {
  .for__title {
    animation: fadeInUp 1s forwards;
  }
  .for__row {
    animation: fadeIn 1s forwards 0.5s;
  }
}
.photos.animate {
  .landing-block-node-img-container-left {
    animation-name: fadeInLeft !important;
    animation-fill-mode: forwards;
  }
  .landing-block-node-img-container-center {
    animation-name: fadeInUp !important;
    animation-fill-mode: forwards;
  }
  .landing-block-node-img-container-right {
    animation-name: fadeInRight !important;
    animation-fill-mode: forwards;
  }
}
.address.animate {
  .address__title,
  .address__text,
  .address__phone {
    animation: fadeInUp 1s forwards;
  }
}
.faq.animate {
  .faq__title {
    animation: fadeInUp 1s forwards;
  }
  .faq__row {
    animation: fadeIn 1s forwards 0.5s;
  }
}
.consultation.animate {
  .bitrix24forms {
    animation: fadeIn 1s forwards;
  }
}

/* Services */
.services {
  padding: 55px 0 45px 0;
}

.container-services {
  max-width: 1400px;
}

.services__title {
  margin: 0 0 25px 0;
  text-align: center;
  color: #f0963a;
}

.services__row {
  margin: 0 -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.services__column {
  padding: 0 10px;
  margin: 0 0 20px 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 640px;
  flex: 0 0 640px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.services__column:hover .services__column-title {
  top: 30px;
  text-decoration: underline;
}
.services__column:hover .services__column-img img {
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.services__column-img {
  border-radius: 12px;
  width: 640px;
  height: 380px;
  overflow: hidden;
  position: relative;
}
.services__column-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.services__column-img:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#000),
    to(rgba(0, 0, 0, 0))
  );
  background: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
}

.services__column-title {
  position: absolute;
  z-index: 2;
  top: 50px;
  left: 30px;
  font-weight: bold;
  line-height: 1.4;
  font-size: 36px;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services__column-link {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Finish */
.finish {
  padding: 50px 0 20px 0;
}

.finish__title {
  margin: 0 0 50px 0;
  text-align: center;
}

.finish__row {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.finish__column {
  padding: 0 15px;
  margin: 0 0 30px 0;
}
.finish__column:hover .finish__item {
  -webkit-box-shadow: 0 10px 60px #79909e;
  box-shadow: 0 10px 60px #79909e;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.finish__item {
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 60px rgba(127, 144, 155, 0.315);
  box-shadow: 0 10px 60px rgba(127, 144, 155, 0.315);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.finish__column-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}
.finish__column-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.finish__column-body {
  padding: 25px 40px 20px 32px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.finish__column-title {
  margin-bottom: 21px;
  padding-bottom: 20px;
  border-bottom: 1px solid #b7b7c2;
  font-size: 25px;
  line-height: 30px;
}

.column-content__item {
  margin: 0 0 21px 0;
}

.column-content__title {
  margin: 0 0 8px 0;
  font-size: 15px;
  text-transform: uppercase;
  color: #b7b7c2;
  font-weight: 700;
  letter-spacing: 2px;
}

.finish__column-bottom {
  padding-top: 20px;
  border-top: 1px solid #b7b7c2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.finish__column-price {
  white-space: nowrap;
  margin-right: 15px;
  font-size: 25px;
}

.finish__column-btn {
  padding: 10px 30px;
  background-color: #2d85ff;
  border: 1px solid #1a78fa;
  text-shadow: 2px 1px 2px #000;
  border-radius: 35px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
}
.finish__column-btn:hover {
  background-color: #89b3ed;
  border: 1px solid #4e95f8;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/* About */
/* Portfolio */
.portfolio {
  padding: 40px 0;
  background-color: rgba(246, 254, 255, 0.86);
}

.portfolio__title {
  margin: 0 0 40px 0;
  text-align: center;
}

.slider-slide.swiper-slide {
  text-align: center;
  height: 350px;
}
.slider-slide.swiper-slide img {
  border: 1px solid rgba(45, 45, 46, 0.6078431373);
  height: 100%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.btn-prev.swiper-button-prev,
.btn-next.swiper-button-next {
  width: 23px;
  height: 35px;
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-button-prev {
  background: url("../img/portfolio/arr-left.svg");
}

.swiper-button-next {
  background: url("../img/portfolio/arr-right.svg");
}

/* Address */
.address {
  padding: 20px 0 40px 0;
}

.address__body {
  margin: 0 auto;
  text-align: center;
}

.address__title {
  margin: 0 0 20px 0;
}

.address__text {
  font-size: 25px;
}

.address__phone {
  margin: 0 0 20px 0;
  display: inline-block;
  font-size: 25px;
  color: inherit;
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.address__phone:hover,
.address__phone:active {
  color: #1e98ff;
}

.address__cell {
  position: absolute;
  top: 113px;
  left: 605px;
  width: 308px;
  height: 252px;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: rgb(139, 175, 53);
  border-width: 3px;
  border-radius: 9px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.49);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.49);
}

.address__map {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 481px;
}
.address__map iframe {
  width: 100%;
  height: 100%;
}
@media (max-width: 1200px) {
  .address__text,
  .address__phone {
    font-size: 16px;
  }
}

/* Consultation */
.consultation {
  position: relative;
}

.consultation__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.consultation__title {
  margin: 0 0 10px 0;
}

.title {
  font-size: 32px;
  line-height: 110%;
  font-weight: 700;
}

.consultation__text {
  margin: 0 0 30px 0;
}

.text {
  font-size: 17px;
}

.form__input {
  padding: 0 16px;
  margin: 0 20px 0 0;
  width: 320px;
  height: 44px;
  background: none repeat scroll 0 0 #f2f2f2;
  border: 1px solid #240202;
  border-radius: 3px;
}
.form__input::-webkit-input-placeholder {
  font-size: 14px;
}
.form__input::-moz-placeholder {
  font-size: 14px;
}
.form__input:-ms-input-placeholder {
  font-size: 14px;
}
.form__input::-ms-input-placeholder {
  font-size: 14px;
}
.form__input::placeholder {
  font-size: 14px;
}

.form__btn {
  padding: 0 5px;
  background-color: #2d85ff;
  border: 1px solid #1a78fa;
  text-shadow: 2px 1px 2px #000;
  border-radius: 35px;
  font-size: 15px;
  font-weight: bold;
  height: 44px;
  line-height: 44px;
  color: #fff;
  text-transform: uppercase;
  width: 285px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.form__btn:hover {
  background-color: #89b3ed;
  border: 1px solid #4e95f8;
}

/* FAQ */

.faq {
  margin-top: 20px;
  padding: 233px 0 125px;
  background-image: url("../img/faq/faq1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -50px 0px;
  position: relative;
  color: rgb(45, 49, 104);
}
.faq__title {
  margin: 0 0 20px 0; 
  text-align: center;
}
.faq__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq__item {
  padding: 15px;
  max-width: 650px;
  width: 100%;
  min-height: 55px;
  text-align: center;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Hover', sans-serif;
  font-size: 20px;
  line-height: 100%;
  border: 2px solid transparent;
  transition: all 0.3s ease 0s;
  img {
    margin: 0 10px 0 0;
    max-width: 20px;
  }
  span {
    max-width: 650px;
  }
  &:hover {
    border: 2px solid rgb(45, 49, 104);
  }
}
@media(max-width: 998px) {
  .faq {
    margin-top: 0px;
    padding: 100px 0;
    background-image: url("../img/faq/faq3.png");
    background-position: -50px;
    background-size: cover;
  }
  .faq__row {
    align-items: flex-start;
    max-width: 100%;
    text-align: left;
  }
  .faq__item {
    margin: 0 0 20px 0; 
    justify-content: flex-start;
    border: 2px solid rgb(45, 49, 104);
    span {
      max-width: 100%;
      text-align: left;
    }
    &:last-child {
      margin: 0;
    }
  }
}

/* Requisites */
.requisites {
  padding: 20px 0;
}

.requisites__title {
  margin: 0 0 20px 0;
  color: #015e8f;
  font-weight: normal;
  font-size: 18px;
}

.requisites__content h4 {
  margin-top: 20px;
  color: #015e8f;
  font-size: 13px;
  margin-bottom: 10px;
  font-weight: 700;
}
.requisites__content p {
  margin: 0 0 10px 0;
  font-size: 13px;
}

/* Edu */
.edu_banner_block {
  font-size: 12pt;
  text-align: center;
}
.edu_banner_link {
  margin: 9px;
  display: inline-block;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Page */
.page {
  padding: 20px 0;
  font-family: "Roboto Condensed", sans-serif;
  h3 {
    font-size: 28px;
    color: #555555;
    font-weight: 700;
    line-height: 28px;
    @media (max-width: 998px) {
      font-size: 22px;
    }
  }
}
.map {
  margin: 0 0 20px 0;
  iframe {
    max-width: 600px;
    height: 450px;
    width: 100%;
  }
}
.page__info {
  animation: fadeIn 1s forwards;
}
.page__title {
  font-size: 35px;
  font-weight: 700;
  color: #555555;
  text-transform: uppercase;
  animation: fadeInUp 2s forwards;
}
.page__title::after {
  position: relative;
  content: "";
  display: block;
  width: 105px;
  height: 4px;
  margin: 15px 0 20px;
  background-color: #303841;
}
.page p {
  font-size: 27px;
  line-height: 28px;
  color: #555555;
  @media (max-width: 998px) {
    font-size: 18px;
  }
}
.page__link {
  font-size: 20px;
  font-weight: 700;
  color: #428bca;
  transition: all 0.3s ease 0s;
  &:hover {
    color: #2a6496;
  }
}

/* Footer */
.footer {
  padding: 40px 0;
  border-top: 1px solid #ccc;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-left__logo {
  margin: 0 0 10px 0;
  font-size: 16px;
  color: #222;
}

.footer-left__phone {
  font-weight: 700;
  color: #222;
  font-size: 16px;
}
.footer-left__phone:hover {
  text-decoration: underline;
}

.arrow-scroll {
  position: fixed;
  z-index: 5;
  right: 0px;
  bottom: 45px;
  cursor: pointer;
  background: #6ebbd3;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.arrow-scroll:hover,
.arrow-scroll:active {
  background-color: #2d85ff;
}

/* Thank */
.thank {
  padding: 50px 0;
}

.thank__title {
  margin: 0 0 20px 0;
  text-transform: uppercase;
}
.thank__title span {
  white-space: nowrap;
}

@media (max-width: 1200px) {
  .header__burger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 15;
  }
  .header__burger::before,
  .header__burger::after {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    content: "";
    background-color: #000;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 9px;
    background-color: #000;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  body.lock {
    overflow: hidden;
  }
  .header__menu {
    z-index: 10;
    position: fixed;
    top: -100%;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
    height: 100%;
    background-color: #98c9df;
    padding: 50px 10px 40px 10px;
    overflow: auto;
  }
  .header__menu-active {
    top: 0;
  }
  .cls-1,
  .cls-2 {
    fill-rule: evenodd;
    fill: #222;
  }
  .header__menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header__menu-list li {
    //margin: 0 0 35px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    &:last-child {
      margin: 0 0 55px 0;
    }
  }
  .header__menu-list li::before {
    margin: 10px auto;
    position: static;
    width: 200px;
    height: 20px;
    background-image: url("../img/header/header-line.svg");
    opacity: 1;
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .header__menu-link {
    font-size: 25px;
  }
  .header__menu-link span::after {
    margin: 0 0 5px 5px;
  }
  .icons-mobile.icons {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .icons-mobile.icons .icon {
    margin: 0 25px 0 0;
    width: 40px;
    height: 40px;
  }
  .icons-mobile.icons .icon:last-child {
    margin: 0;
  }
  .icons-desktop {
    display: none;
  }
  .header__logo {
    margin: 0 auto 0 0;
  }
  .header__actions .header__action-items {
    margin: 0 45px 0 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header__phone {
    margin: 0 20px 0 0;
  }
  .header__row {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .header__logo {
    -webkit-box-flex: 1;
    -ms-flex: 1 0;
    flex: 1 0;
  }
  .finish__column {
    width: 100%;
  }
  .finish__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .finish__column-img {
    height: 400px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
  }
}
@media (max-width: 1050px) {
  .header,
  .header__row {
    height: 100px;
  }
  .header__btn {
    display: none;
  }
  .header__actions .header__action-items {
    margin: 0;
  }
  .header__phone {
    margin: 0 30px 0 0;
  }
  .first-block {
    height: 300px;
  }
  .finish {
    padding: 20px 0;
  }
  .finish__title {
    margin: 0 0 20px 0;
  }
  .finish__column-body {
    padding: 20px;
  }
  .finish__column-title {
    padding: 0 0 10px 0;
    font-size: 20px;
  }
  .column-content__item {
    margin: 0 0 18px 0;
  }
  .finish__column-bottom {
    padding: 15px 0 0 0;
  }
  .finish__column-price {
    font-size: 22px;
  }
  .first-block__body {
    padding: 80px 20px 0 20px;
    max-width: 600px;
  }
  .first-block__body-title {
    margin: 0 0 20px 0;
    font-size: 24px;
  }
  .first-block__body-btn {
    padding: 5px 25px;
  }
  .title {
    font-size: 25px;
  }
  .text {
    font-size: 16px;
  }
  .services {
    padding: 35px 0 25px 0;
  }
  .services__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .services__column-title {
    font-size: 20px;
  }
  .services__column-img {
    height: 185px;
    width: 100%;
  }
  .finish__column-img {
    height: 300px;
  }
  .about__title {
    margin: 0 0 20px 0;
  }
  .about__text img {
    float: none;
    margin: 0 auto 15px auto;
    padding: 0;
    display: block;
    max-height: 300px;
    max-width: 100%;
  }
  .about__title-h3 {
    font-size: 20px;
  }
  .portfolio {
    padding: 30px 0;
  }
  .portfolio__title {
    margin: 0 0 20px 0;
  }
  .slider__buttons {
    display: none;
  }
  .address__map {
    height: 300px;
    width: 100%;
  }
  .consultation__text {
    margin: 0 0 20px 0;
    max-width: 650px;
    text-align: center;
  }
  .consultation__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .form__input {
    margin: 0 0 20px 0;
  }
  .footer {
    padding: 25px 0;
  }
}
@media (max-width: 700px) {
  .header__phone {
    margin: 0 15px 0 0;
    font-size: 15px;
  }
  .slider-slide.swiper-slide {
    height: 300px;
    width: 100%;
  }
  .slider-slide.swiper-slide img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .arrow-scroll {
    display: none;
    visibility: hidden;
  }
}
@media (max-width: 550px) {
  .text {
    font-size: 14px;
  }
  .header__logo {
    width: 180px;
  }
  .first-block__body {
    padding: 40px 20px 0 20px;
    max-width: 100%;
  }
  .first-block__body-title {
    font-size: 20px;
  }
  .finish__column-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .finish__column-price {
    margin: 0 0 10px 0;
    font-size: 18px;
  }
  .finish__column-btn {
    padding: 5px 20px;
  }
  .consultation__form,
  .form__input,
  .form__btn {
    width: 100%;
  }
  .consultation__title {
    text-align: center;
  }
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-left {
    margin: 0 0 20px 0;
  }
  .footer-left__phone {
    text-align: center;
  }
  .footer__icons .header__icon:first-child {
    margin: 0;
  }
}
@media (max-width: 350px) {
  .header__phone {
    display: none;
  }
}
